mat-card {
  padding: 20px;
}

mat-card-header {
  display: flex;
  align-items: center;
  
}

mat-card-title {
  font-size: 20px;
}

table {
  width: 100%;
}

button {
  margin-right: 5px;
}

mat-header-cell th{
  background: rgb(12, 12, 133);
}
